<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.zz.schedule.**" />


    <!-- 线程池 -->
    <bean id="exePreTableThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数  -->
        <property name="corePoolSize" value="100"/>
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="200"/>
        <!-- 队列最大长度 -->
        <property name="queueCapacity" value="500"/>
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="5"/>
        <!-- 线程池对拒绝任务(无线程可用)的处理策略 -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <bean class="com.wangyin.schedule.spring.SchedulerFactoryBean">
        <property name="host" value="http://172.25.47.136:8080"/>
        <property name="appId" value="overseas_iou_job"/>
        <property name="secret" value="cff9f8e8b0e5ce2d002c5bf745a311a9"/>
        <!-- 最大并发任务数 -->
        <property name="maxConcurrentNo" value="20"/>
    </bean>

</beans>